.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.iframe-container {
  display: flex;
  gap: 20px;
}

iframe {
  width: 420px;
  height: 420px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  box-shadow: 0 0 10px #9ecaed;
}

iframe html {
  height: 100%;
}

.frame {
  background: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 15px;
}

.frame h1 {
  margin: 0;
  color: #fa6400;
  font-family: "Cairo Play", serif;
}

.frame img {
  width: 64px;
  height: 64px;
}
